---
import Contacts from './Contacts.astro'

const { basics } = Astro.props
const name = basics.name
const labelParts = basics.label.split('|').map((s: string) => s.trim())
const location = `${basics.location.city}, ${basics.location.region}`
---

<section>
  <h1 class="text-5xl font-serif tracking-tight text-indigo-700 dark:text-indigo-400 pb-1 lg:text-6xl">
    {name}
  </h1>
  <div class="flex flex-col font-serif text-zinc-500 dark:text-zinc-400 pb-3 lg:flex-row lg:gap-2">
    <h2 class="flex flex-col lg:block">
      <span>{labelParts[0]}</span>
      <span class="hidden lg:inline"> | </span>
      <span>{labelParts[1]}</span>
    </h2>
    <span class="hidden lg:inline">-</span>
    <span>{location}</span>
  </div>
  <Contacts basics={basics} />
</section>
