---
import resumeData from '../../assets/resume.it.json'
import TheFooter from '../../components/TheFooter.astro'
import TheResume from '../../components/TheResume.astro'
import { useTranslations } from '../../i18n/utils'
import '../../assets/css/main.css'

const t = useTranslations('it')
const { basics, work, education, skills, projects, languages } = resumeData

const title = 'Francesco Zorzi | Software Engineer | Curriculum'
const description = 'Software Engineer con esperienza nella guida di team di sviluppo. Competenze in Vue.js, .NET, PostgreSQL.'
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://picsum.photos/id/988/1200/630" />
    <meta property="og:url" content="https://resume.francescozorzi.me/it/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://picsum.photos/id/988/1200/630" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Merriweather:wght@400;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
    <script defer src="https://analytics.zorygo.ovh/js/pa-rZeXMBjHeyBgH948AJs7u.js"></script>
    <script is:inline>
      window.plausible = window.plausible || function () { (plausible.q = plausible.q || []).push(arguments) }
      plausible.init = plausible.init || function (i) { plausible.o = i || {} }
      plausible.init()
    </script>
  </head>
  <body class="bg-slate-50">
    <div class="container sm:p-10 lg:p-20">
      <TheResume basics={basics} work={work} education={education} skills={skills} projects={projects} languages={languages} t={t} currentLocale="it" />
      <TheFooter />
    </div>
    <script is:inline>
      localStorage.setItem('resume-locale', 'it')
    </script>
  </body>
</html>
